/* The solid white background, no animation */
.timeline-solid-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  z-index: 100;
}

/* The container for content that fades in */
.timeline-animated-content {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  animation: fade-in 1s ease-out;
}

.timeline-scroll-container {
  height: 100vh;
  overflow-y: auto;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.timeline-scroll-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

@keyframes fade-in {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Custom Spinner */
.spinner-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 120;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.prompt-text {
  margin-bottom: 20px;
  font-size: 1.2rem;
  color: #000;
}

.spinner-grow {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  vertical-align: text-bottom;
  background-color: #000;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow 0.75s linear infinite;
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

/* Style overrides for the timeline component */
.vertical-timeline {
  padding-top: calc(50vh - 30px); /* The icon is ~60px, so offset by half its height */
  padding-bottom: 50vh;
}

/* This targets the main line and adjusts its start position to align with the first element */
.vertical-timeline::before {
  top: calc(50vh - 30px);
  height: 0; /* Start with no height */
  animation: draw-line 4s ease-in-out 1s forwards; /* 4s duration, 1s delay */
}

@keyframes draw-line {
  from { height: 0; }
  to { height: calc(100% - 50vh + 30px); }
}

.vertical-timeline-element-content {
  box-shadow: none;
}

.vertical-timeline-element-icon {
  box-shadow: none !important;
  border: none !important;
}

/* Slow down the fade-in animation for timeline elements */
.vertical-timeline-element {
    transition: transform 1.5s, opacity 1.5s !important;
}

.vertical-timeline-element-content.is-hidden {
    opacity: 0 !important;
}

.vertical-timeline-element-icon.is-hidden {
    opacity: 0 !important;
}

.load-more-button .vertical-timeline-element-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  transition: transform 0.2s ease-in-out;
}

.load-more-button:hover {
  transform: scale(1.1);
}

.error-message {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-size: 1.2rem;
  z-index: 120;
}

