@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.waves {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  animation: fadeIn 1.5s ease-in-out;
}

.waves-canvas {
  display: block;
  width: 100%;
  height: 100%;
}